{% extends 'layout.html' %}
{% block content %}
<h1 class="title">AGREGAR CURSO</h1> 
<form action="{% url 'agregar_cursos' %}" method="POST">
    {% csrf_token %}
    <table>
    <tr>
       <td> <label for="codigo">CODIGO: </label></td>
        <td><input type="text" name="codigo" /></td>
    </tr>
    <tr>
        <td><label for="nombre">NOMBRE: </label></td>
        <td><input type ='text' name="nombre" /></td>
    </tr>
    <tr>
        <td><label for="horas">HORAS: </label></td>
    <td><input type ='text' name="horas" /></td>
    </tr>
    
    <tr>
        <td><label for="creditos">CREDITOS: </label></td>
        <td><input type ='text' name="creditos" /></td>
    </tr>
    <tr>
        <td><label for="estado">ESTADO: </label></td>
        <td><input type ='text' name="estado" /></tr></td>
    </table>
    <input style="margin-left:950px" type="submit" value="Agregar" />
</form>
{% endblock%}
