{% extends 'layout.html' %}

{% block content %}

<h1>CURSOS Y CARRERAS</h1>
<ul>
<li class="e"><a  href="{% url 'listar_cursos' %}">Cursos</a></li>
<li class="e"><a href="{% url 'ruta_cursos' %}">Crear Curso</a></li>
<li class="e"><a href="{% url 'listar_carreras' %}">Carreras</a></li>
<li class="e"><a href="{% url 'ruta_carreras' %}">Crear Carrera</a></li>
</ul>
<br>
<br>
<br>
<br>
{% if messages %}
    {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
    {% endfor %}
{% endif %}

{% endblock%}