{% extends 'layout.html' %}

{% block content%}
<h1>LISTA DE CURSOS</h1>
{% for curso in cursos %}
<table>
<tr>
        <td>CODIGO: {{curso.code}}</td>
</tr>
<tr>
        <td>NOMBRE: {{curso.name}}</td>
</tr>
<tr>
        <td>HORAS: {{curso.hour}}</td>
</tr>
<tr>
        <td>CREDITOS: {{curso.credits}}</td>
</tr>
<tr>
        <td>ESTADO: {{curso.state}}</td>
</tr>

<tr>
        <td><button class='bt1'><a href="{% url 'eliminar_curso' id=curso.id %}">Eliminar</a></button></td>
    </tr>
</table>
<br>
<br>

{% endfor %}
{% endblock %}